.heroes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100vh;

    .heroesHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;        
        width: 100%;
        
        .heroesHeaderFaction {
            /* border: 1px solid red; */
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            gap: 10px;
            padding: 10px;
            border-bottom: 1px dashed #c1c1c1;
        }

        .heroesHeaderRarity {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 10px;
            gap: 10px;
            border-bottom: 1px dashed #c1c1c1;
        }

        .heroesHeaderTraits {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
            width: 100%;
            height: auto;
            padding: 10px;
            text-align: center;

        }
    }
    .heroesBody {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
        /* height: 200px; */
        /* height: 100vh; */
        /* height: auto; */
         .heroBodyItem {
            border-width: 5px;
            border-style: solid;
            border-radius: 4px;
            padding: 5px;
            width: auto;
            height: 200px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
    
            strong {
                font-size: 14px;
            }
        }
    }

 

     .logo {
        border-radius: 10px;
    }
}